body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#map {
  position: fixed;
  height: 100vh;
  width: calc(100% - 1rem);
  z-index: 1;
  padding: 0;
  padding-left: 1rem;
}


.search-panel {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 99;
  width: 20rem;
  display: flex;
  justify-content: center;
}

.search-panel form{
  width: 100%;
  display: flex;
  flex-direction: row;
}
#search-engine{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#search-engine-results{
  margin-top: 0.7rem;
  background-color: white;
  border-radius: 10px;
  max-height: 65vh;
  overflow-y: scroll;
}

.search-engine-location{
  font-weight: 700;
  padding: 1rem 2rem;
  border: 1px solid #CFCFCF;
}

.search-engine-location:hover{
  background-color: rgb(231, 231, 231);
}

#search-engine-input{
  width: 100%
}

@media (max-width: 480px){
  .search-panel {
    width: 100%;
    left: 0;
    right: 0;
  }
  .search-panel #search-engine{
    width: 90%;
  }
}


.input-text{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: rgb(248, 248, 248);
  border-width: 1px;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  border-radius: 4px 0px 0px 4px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px; 
}

#route-planning-button{
  border-radius: 0 0.2rem 0.2rem 0;
}

button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  background-color: #7092FF;
  border-color: #7092FF;
  box-sizing: border-box;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 112, 112);
}

.loader {
  border: 0.3rem solid #f3f3f3; /* Light grey */
  border-top: 0.3rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  animation: spin 2s linear infinite;
  margin-right: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-screen{
  display:flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
